* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(0, 31, 60);
  --text-color: rgb(225, 225, 225);
  --bg-item: rgb(0, 37, 72);
  --accent: rgb(169, 163, 68);
  --transition: all 0.5s ease;
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color); 
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2vw 30vw;
  gap: 1vw;
}

.accordion_item {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.accordion_item__header {
  position: relative;
  background-color: var(--bg-item);
  padding: 0.5vw 2vw;
  cursor: pointer;
  transition: var(--transition); 
}

.accordion_item__header::after {
  content: '>';
  position: absolute;
  top: 0.5vw;
  right: 1.5vw;
  height: 20px;
  width: 20px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  transform: rotate(0deg);
  transition: var(--transition);
}

.accordion_item.open .accordion_item__header {
  background-color: var(--accent);
  color: var(--bg-color);
}

.accordion_item.open .accordion_item__header::after {
  color: var(--bg-color);
  transform: rotate(90deg);
}

.accordion_item__content {
  background-color: var(--bg-item);
  overflow: hidden;
  height: auto;
  max-height: 0;
  transition: var(--transition); 
}

.accordion_item.open .accordion_item__content {
  max-height: 400px;
}

.user_data {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw;
  transform: translateY(-100%);
  opacity: 0;
  transition: var(--transition);
}

@media (max-width: 1200px) {
  .container {
    margin: 2vw 20vw;
  }
  .user_data {
    flex-direction: column;
  }
}

.accordion_item.open .user_data {
  transform: translateY(0);
  opacity: 1;
}

.user_data__img {
  flex: 1;
  background-color: var(--bg-color);
  border: 1px solid var(--accent);
}

.user_data__txt {
  flex: 3;
  flex-shrink: ;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.user_data__txt div {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  flex: 1;
  flex-shrink: 2
}

div p {
  padding: 0.5vw 1vw;
  background-color: var(--bg-color);
  white-space: nowrap;
}